[save_files]

save_dir = Content/Save Files
  # All save file names MUST start with this, or an error might be raised!
  # Also, all files must be in a sub-directory named "{CHARACTER NAME}".
  
sav_acquired_gems = Content/Save Files/{CHARACTER_NAME}/acquired_gems.json
  # Acquired Gems

sav_def_bosses = Content/Save Files/{CHARACTER_NAME}/def_bosses.json
  # Defeated Bosses

sav_equip_items = Content/Save Files/{CHARACTER_NAME}/equip_items.json
  # Equipped Items

sav_inventory = Content/Save Files/{CHARACTER_NAME}/inventory.json
  # Inventory

sav_misc_boss_info = Content/Save Files/{CHARACTER_NAME}/misc_boss_info.json
  # Misc Boss Info

sav_party_info = Content/Save Files/{CHARACTER_NAME}/party_info.json
  # Position

sav_quests_dia = Content/Save Files/{CHARACTER_NAME}/quests_dia.json
  # Quests & Dialogue

sav_spellbook = Content/Save Files/{CHARACTER_NAME}/spellbook.json
  # Spellbook

sav_prevtowns = Content/Save Files/{CHARACTER_NAME}/prevtowns.json
  # Previously visited towns

sav_play = Content/Save Files/{CHARACTER_NAME}/play_stats.json
  # Player Stats
  
sav_solou = Content/Save Files/{CHARACTER_NAME}/solou_stats.json'      
  # Solou's Stats
  
sav_xoann = Content/Save Files/{CHARACTER_NAME}/xoann_stats.json'      
  # Xoann's Stats
  
sav_chyme = Content/Save Files/{CHARACTER_NAME}/chyme_stats.json'      
  # Chyme's Stats
  
sav_ran_af = Content/Save Files/{CHARACTER_NAME}/ran_af_stats.json'    
  # Ran'af's Stats
  
sav_parsto = Content/Save Files/{CHARACTER_NAME}/parsto_stats.json'    
  # Parsto's Stats
  
sav_adorine = Content/Save Files/{CHARACTER_NAME}/adorine_stats.json'  
  # Adorine's Stats
  
[volume_levels]
# Both of these values must be a number ranging from 0 to 100

music_vol = 15
  # MUST be named "music_vol" or music volume changing will NOT work!
  
sound_vol = 15
  # MUST be named "sound_vol" or sound volume changing will NOT work!
  
[do_text_scroll]
# If set to true, the game will employ text scrolling in certain areas
# instead of simply printing all at once. 
do_text_scroll = False